{
  "extends": "airbnb",
  "globals": {
      "NODE_ENV": true,
      "document": true,
      "window": true,
      "fetch": true,
      "FormData": true,
      "localStorage": true,
      "API_URL_ENV": true
  },
  "env": {
      "jest": true,
      "browser": true
  },
  "rules": {
      "camelcase":0,
      "import/no-extraneous-dependencies":0
  }
}
