.events-filters {
  padding: 20px;
  margin-bottom: 20px;
}
.events-filters__dates {
  display: flex;
}
.events-filters__dates-right {
  margin-left: 20px;
}
.events-filters__codes {
  margin-left: 20px;
}
.events-filters__button {
  margin-top: 20px;
}

.events-filters__button-reset {
  margin-left: 20px;
}