$main-background-color: rgb(237, 243, 247);
$primary-color: rgb(96, 41, 246);
$secondary-color: rgb(134, 217, 209);
$gray-color: #8a8a8a;

$desktop-content-padding: 53px;
$desktop-header-height: 70px;
$paper-margin: 20px;